// Colors Variables Settings Stylesheet
// ========================================

$black: black;
$blue: blue;
$green: green;

// Main Palette List
$colors: (
  black:    $black,
  blue:     $blue,
  green:    $green,
);
