// Colors Variables Settings Stylesheet
// ========================================

$purple: #4C26F2;
$yellow: #f6dd62;
$lightpurple: #9585dd;

// Main Palette List
$colors: (
  'purple':    $purple,
  'yellow':     $yellow,
  'lightpurple':    $lightpurple,
);
