// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: balloonpops;
$secondary-font: 'Quicksand', sans-serif;

// Text Colors Map
$type-colors: (
  'purple':     ( purple ),
  'yellow':      ( yellow  ),
  'lightpurple':     ( lightpurple ),
);
