// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Bowlby One SC', cursive;

// Text Colors Map
$type-colors: (
  'black':     ( black ),
  'blue':      ( blue  ),
  'white':     ( white ),
);
