// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: #F5F5F5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
    font-size: 1.5rem;
    display: block;
    color: $purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: $yellow;
    color: $purple;
}

.header {

}

.main {
  padding: $spacer-m;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 5%;
    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {

}

.main__section--index img {
  width: 30%;
}

header img {
  width: 10%;
  padding-left: 1%;
}

nav {
  display: inline-block;
}
