// Base Typography Stylesheet
// This is where your base typography will go
// ========================================

h1 {
  font-family: balloonpops;
  font-size: 4rem;
  color: $purple;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: $lightpurple;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

a {


  &:hover {

  }
}
